body {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: Arial, Helvetica, Arial, sans-serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
}

p {
  /* padding: 30px; */
  /* font-family: courier; */
  font-size: 120%;
  display:inline;
}

input[type=number], select, textarea {
  width: 10%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  /* margin:10px; */
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* input[type=number] {
  padding:10px;
  border:0;
  box-shadow:0 0 4px 2px rgba(0,0,0,0.06);
} */