.BuySell-div {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  max-width: 35%;
  justify-content: space-between;
  align-content: center;
}

.Dropdown {
  width: 60%;
  margin-bottom: 5%;
  margin-top: 8%;
}

.button {
  color: white;
  text-decoration: none;
  border: none;
  padding: 18px 40px;
  margin: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.green-button {
  background-color: #4caf50;
}
.red-button {
  background-color: red;
}
.blue-button {
  background-color: blue;
}

.button-row {
  width: fit-content;
  padding: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}
